version : '3'
services:
    db:
        image: mysql:5.7
        volumes:
            - db_data:/var/lib/mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: $DB_PASSWD
    prestashop:
        depends_on:
            - db
        image: prestashop/prestashop
        volumes:
            - theme_data:/var/www/html/themes/shop_theme
        ports:
            - "80:80"
        restart: always
        environment:
            DB_SERVER: db
            DB_PASSWD: $DB_PASSWD
            PS_INSTALL_AUTO: 1
            PS_DOMAIN: epamdevopsd.ddns.net
            PS_ERASE_DB: 1
volumes:
    db_data: {}
    theme_data: {}

